:root {
--lightRed: hsla(50%, 100%, 67%,100%);
--orangeyYellow: hsla(39, 100%, 56%, 100%);
--greenTeal: hsla(166, 100%, 37%, 100%);
--cobaltBlue: hsla(234, 85%, 45%, 100%);
--lightSlateBlue: hsl(252, 100%, 67%);
--lightRoyalBlue: hsl(241, 81%, 54%);
--violetBlue: hsla(256, 72%, 46%, 1);
--persianBlue: hsla(241, 72%, 46%, 0);
--white: hsl(0, 0%, 100%);
--paleBlue: hsl(221, 100%, 96%);
--lightLavender: hsl(241, 100%, 89%);
--darkGrayBlue: hsl(224, 30%, 27%);
}
